<launch>
    <arg name="param" default="info"/>
    <arg name="record" default="false"/>
    <node
        pkg="beginner_tutorials"
        type="talker"
        name="talker"
        launch-prefix="xterm -e"
        args="_param:=$(arg param)"
    />

    <node
        pkg="beginner_tutorials"
        type="listener"
        name="listener"
        launch-prefix="xterm -e"
    />

    <node 
        pkg="rosbag"
        name="record"
        type="record"
        args="--duration=15 -a -O $(find beginner_tutorials)/results/record_data.bag" 
        if="$(arg record)"
    />
</launch>
